* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.header {
    background-color: #EEEFF1;
    width: 100%;
    padding: 20px 20px 50px 20px;
    margin: 0px;
}
ul li {
    list-style-type: none;
    display: inline-block;
    padding: 70px 10px;
    margin-left: 90px;
    position: relative;
    width: 84px;
    font-family: 'Roboto';
    line-height: 26px;
    letter-spacing: 0.1em;
}

.design {
    position: relative;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 48px;
    padding-left: 330px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-top: 50px;
    background-color: #EEEFF1;
    width: 100%;


}
.lorem {
    position: relative;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    background-color: #EEEFF1;
    padding-left: 330px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.napishi {
    position: relative;
    width: 225px;
    background-color: #34547A;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 23px 51px;
    margin-left: 330px;
}

.about {
    position: relative;
    padding: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 10px;

}
.lorem_about {
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding: 10px;
}
.rabotu {
    position: relative;
    width: 100%;
    padding: 80px;
    background-color: #34547A;

}
.item1 {
    position: relative;
    width: 141px;
    padding: 20px;
    margin-left: 340px;
}
.item2 {
    position: relative;
    width: 141px;
    padding: 20px;
}
.item3 {
    position: relative;
    width: 141px;
    padding: 20px;
}
.item4 {
    position: relative;
    width: 141px;
    padding: 20px;
}
.item5 {
    position: relative;
    width: 141px;
    padding: 20px;
}
.item6 {
    position: relative;
    width: 141px;
    padding: 20px;
}
.workback {
    position: relative;
    width: 100%;
    background-color: #EEEFF1;
    padding: 20px;
}
.hoiwork {
    position: relative;
    padding: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}
.loremwork {
    position: relative;
    width: 540px;
    margin-left: 750px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.youtube {
    position: relative;
    width: 1110px;
    height: 600px;
    margin-left: 450px;

}
.foot {
    position: relative;
    padding: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    background-color: #34547A;
}
.ivanov {
    position: relative;
    margin-left: 460px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.prava {
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    position: relative;
    margin-left: 460px;
}